<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language = "JavaScript">
    function lowerCase (string){
      var str = string.inputbox.value
      console.log(`You typed ${str.toLowerCase()}`)
    }
    </script>
  </head>
  <body>
    <p>sup</p>
    <form action = "" method = "GET">
      String <input type = "text" name = "string"><br>
      <input type="submit">
  </form>
  <p>
    <%= say %>
  </p>
  </body>
</html>
