<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= ss %></p>
    <form> String <input type = "text" name = "string"><br>
    <input type = "Submit" name = "Submit"></form>
  </body>
</html>
