<!DOCTYPE html>
<html>
  <head>
    <title>hactiv8</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hactiv8</h1>
    <p>Welcome to Coding</p>
    <p>Say Hello : <%= datasay %></p>
    <p>User : <%= login.username %></p>
    <p>Password :  <%= login.password %></p>

  </body>
</html>
