<!DOCTYPE html>
<html>
  <head>
    <title>hactiv8</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hactiv8</h1>
    <p>Welcome to Coding</p>

    <form action="" method="get">
      User:<br>
      <input type="text" name="userForm"><br>
      Password:<br>
      <input type="text" name="pwdForm"><br>
      What you say : <br>
      <input type="text" name="sayForm"><br><br>
      <input type="submit" value="Submit"><br>

      <h2> Hai <%=sayForm%></h2><hr>
      <a>User : <%=userForm%></a><br>
      <a>Password : <%=pwdForm%></a>


    </form>

  </body>
</html>
