<!DOCTYPE html>
<html>
  <head>
    <title>Syamil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express</h1>
    <form class="form" action="" method="get">
      <input type="text" name="kalimat">
      <input type="submit">
    </form>
    <p>
      tes query <%= kalimat %>
    </p>
  </body>
</html>
