<!DOCTYPE html>
<html>
  <head>
    <title>Syamil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express</h1>
    <p>Welcome user <%= dataini.username %></p>
    <p>Your password <%= dataini.password %></p>
    <p>tes query <%= nama %></p>
  </body>
</html>
